@model WorksAddRequest

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>To Do App</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div class="container my-2">
        <form asp-action="Create" asp-controller="Home" method="post">
            <div class="mb-3">
                <label class="form-label">To Do Work</label>
                <input type="text" class="form-control" asp-for="@Model.Description">
            </div>
            <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" asp-for="@Model.IsCompleted">
                <label class="form-check-label" for="IsCompleted">Tamamlandı</label>
            </div>
            <button type="submit" class="btn btn-primary">Create</button>
        </form>
        <div asp-validation-summary="All" class="text-danger"></div>
    </div>
</body>
</html>